@charset "UTF-8";

.TEST1{
    background-image: url("images/sunset.jpg");
    background-size: cover;
    width: 1920px;
    height: 600px;
    background-repeat: no-repeat;
}

.TEST1 p{
    color: white;
    font-size: 50px;
    font-weight:bold;
    object-fit: cover;
}

.TEST2{
    background-image: url("images/sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:1100px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}



.TEST2 p{
    color: white;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}

.TEST3 img{
    width: 260px;
    height:260px;
    border-radius: 50%;/*角丸*/
    object-fit:cover;
}

.TEST3{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.TEST4{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
}

.TEST4 img{
    text-align: center;
    width: 30%;
    margin: 0 0 50px;
}
